<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<div class="container px-5">

		<a class="navbar-brand" href="{{ path('home')}}">
			<img class="logo" src="{{ asset('img/logo2.png') }}">
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link" href="{{ path('home')}}">Accueil</a>
				</li>
				{% if app.user %}
					<li class="nav-item">
						<a class="nav-link " href="{{ path('app_profil', { 'id' : app.user.id}) }}">Mon profil</a>
					</li>
                    <li class="nav-item">
                        <a class="nav-link " href="{{ path('app_register')}}">Ajouter un utilisateur</a>
                    </li>
                    <li class="nav-item">
                    	<a class="nav-link " href="{{ path('sortie_new')}}">Nouvelle sortie</a>
                    </li>
					<li class="nav-item">
						<a class="nav-link " href="{{ path('app_logout')}}">Se déconnecter</a>
					</li>
				{% else %}
					<li class="nav-item">
						<a class="nav-link " href="{{ path('app_login')}}">Se connecter</a>
					</li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>
