{{ form_start(form) }}
{{ form_widget(form) }}
<div class="d-flex justify-content-center items-center">
	<button type="submit" class="btn btn-info mb-3 m-3">{{labelSave|default("Valider")}}</button>
	<button type="submit" class="btn btn-info mb-3 m-3">{{labelSubmit|default("Sauvegarder")}}</button>
</div>

{{ form_end(form) }}
