{% block body %}
	<style>
		.card {
			width: 350px;
			background-color: #efefef;
			border: none;
			cursor: pointer;
			transition: all 0.5s
		}

		.image img {
			transition: all 0.5s
		}

		.card:hover .image img {
			transform: scale(1.5)
		}

		.btn {
			height: 140px;
			width: 140px;
			border-radius: 50%
		}

		.name {
			font-size: 22px;
			font-weight: bold
		}

		.idd {
			font-size: 14px;
			font-weight: 600
		}

		.idd1 {
			font-size: 12px
		}

		.number {
			font-size: 22px;
			font-weight: bold
		}

		.follow {
			font-size: 12px;
			font-weight: 500;
			color: #444444
		}

		.btn1 {
			height: 40px;
			width: 150px;
			border: none;
			background-color: #000;
			color: #aeaeae;
			font-size: 15px
		}

		.text span {
			font-size: 13px;
			color: #545454;
			font-weight: 500
		}

		.icons i {
			font-size: 19px
		}

		hr .new1 {
			border: 1px solid
		}

		.join {
			font-size: 14px;
			color: #a0a0a0;
			font-weight: bold
		}
		.fa-times {
			color: red;
		}

		.fa-check {
			color: green;
		}

		.date {
			background-color: #ccc
		}
		a {
			underline: none;
			
		}
	</style>


	<div class="col-md-4 target my-3">
		<a href="{{ path('app_profil', { 'id' : participant.id}) }}">
			<div class="card bg-light mb-3">
				<div class=" image d-flex flex-column align-items-center">
					<button class="btn btn-secondary">
						{% if participant.fileName != null %}
							<img src="{{ vich_uploader_asset(participant, 'profilImage') }}" alt="Image de  {{ participant.prenom }}" height="100" width="100">
						{% else %}
							<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuhKCWUGyWAWug_sKmm_cmU6oSf-xgxGLYdQ&usqp=CAU" height="100" width="100"/>
						{% endif %}
						</button>
					<span class="name mt-3">{{ participant.nom }}
						{{ participant.prenom }}</span>
					<span class="idd">@{{participant.username}}</span>
				</div>
			</div>
		</a>
	</div>

{% endblock %}
