{% set url = "google.com" %}

{% set date = sortie.dateLimiteInscription%}

<div class="col-md-4 target my-3">
	<div class="card bg-light mb-3">


		<div class="card-body">
			<h4 class="card-title">
				{{ sortie.nom }}
			</h4>
			<p class="card-text mt-3 mb-4">
				{{ sortie.infoSortie }}
			</p>

			<span id="countDown{{sortie.id}}" class="timer"></span>

			<h3>{{ sortie.participants|length ~'/' ~ sortie.nbInscriptionsMax ~' participants'}}</h3>
			<div class="test d-flex justify-content-between align-items-center">
				<a href="{{ path('sortie_consultation', { 'id' : sortie.id}) }}" class="more float-left hvr-icon-pulse-grow">En savoir<i class="fas fa-plus-circle hvr-icon"></i>
				</a>

				{% if app.user and app.user != sortie.organisateur and sortie.dateLimiteInscription > date('+1hours') and sortie.etat.id == 2 %}

					{% if app.user in sortie.participants %}
						<a href="{{ path('desinscription', {'id' : sortie.id}) }}" class="reserver hvr-icon-buzz">
							<button type="button" class="btn btn-danger">Se désinscrire<button></a>
							{% else %}
								<a href="{{ path('reservation_new', {'id' : sortie.id}) }}" class="reserver hvr-icon-buzz">
									<button type="button" class="btn btn-dark">Participer</button>
								</a>
							{% endif %}

						{% endif %}
						{% if  app.user and app.user == sortie.organisateur %}

							<a href="{{ path('sortie_edit', {'id' : sortie.id}) }}" class="modifier hvr-icon-spin float-right">Modifier l'annonce
								<i class="hvr-icon fas fa-cog"></i>
							</a>

							{% else %}

						{% endif %}
					</div>
				</div>
			</div>
		</div>
		<script>
			var sortieId = {{ sortie.id }};
var t1 = new Date('{{ date|date('Y-m-d H:i:s') }}');


sorties.push(new Array({{ sortie.id }}, t1))
		</script>
		<script>
			document.addEventListener("DOMContentLoaded", function () { // animation d'apparition sur les card des annonces
ScrollReveal().reveal('.target', {delay: 250});
});
		</script>
