{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!
{% endblock %}

{% block body %}

	<style>
		body {
			color: #000;
			overflow-x: hidden;
			height: 100%;
			background-repeat: no-repeat
		}

		.cardSortie {
			width: 100%;
			border-radius: 10px;
			box-shadow: 0 4px 8px 0 #9F9F9F;
			margin-top: 50px;
			margin-bottom: 50px
		}

		.set-p {
			padding-left: 15px;
			padding-right: 15px
		}

		.fa-angle-left,
		.fa-angle-right {
			position: absolute;
			color: #757575;
			font-size: 80px;
			top: 100px;
			cursor: pointer
		}

		#left {
			left: 2%
		}

		#right {
			right: 2%
		}

		.image {
			object-fit: cover;
			width: 100%;
			height: 320px;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
			display: none
		}

		.image.active {
			display: block
		}

		.rating {
			background-color: #3D5AFE;
			color: #fff;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px
		}

		.grade {
			font-size: 18px
		}

		.line {
			height: 1px;
		}

		.text-sm {
			font-size: 14px
		}
	</style>


	<div class="row">
		<h1 class="font-weight-bold text-center">{{ sortie.nom }}</h1>
	</div>

	<div class="container-fluid px-4 py-5 mx-auto">
		<div class="row d-flex justify-content-center">
			<div class="cardSortie border-0">
				<div class="row set-p justify-content-center">
					<div class="col-12">
						<div class="row px-3">
							<h3 class="font-weight-bold">à
								{{ sortie.site.nom }}
							</h3>
						</div>
						<div class="row px-3">
							<h5 class="mb-2">{{ sortie.infoSortie }}</h5>
						</div>
						<div class="row px-3">
							<p class="mb-2">Réservé au site de
								{{ sortie.site.nom }}
							</p>
						</div>
						<div class="row px-3">
							<p class="mb-4">Sortie organisée par
								{{ sortie.organisateur.username }}</p>
						</div>
						<div class="line"></div>
						<div class="row px-3">
							<h5 class="text-secondary mb-1">Du
								{{ sortie.dateHeureDebut | date('d/m/Y à H:i') }}
								au
								{{ sortie.dateHeureFin | date('d/m/Y à H:i') }}</h5>
						</div>
						<div class="row px-3 mb-4">
							<h2 class="ml-2 text-muted text-sm"></h2>
							<span class="ml-2 text-muted text-sm">Fin des inscriptions le
								{{ sortie.dateLimiteInscription | date('d/m/Y à H:i') }}
								- Sortie
								{{ sortie.etat.libelle }}</span>
						</div>
						<div class="row px-3 mb-4">
							{% if (app.user == sortie.organisateur or app.user.isAdmin == true) and sortie.etat.id == 1 %}
								<a href="{{ path('publier', { 'id' : sortie.id }) }}">
									<button type="button" class="btn btn-primary">
										Publier la sortie
									</button>
								</a>
							{% endif %}
							{% if (app.user == sortie.organisateur or app.user.isAdmin == true) and sortie.etat.id == 2 %}
								<a href="{{ path('sortie_annuler', { 'id' : sortie.id }) }}">
									<button type="button" class="btn btn-warning">
										Annuler la sortie
									</button>
								</a>
							{% endif %}
							{#  and sortie.dateLimiteInscription > date('+1hours') #}
							{% if app.user and app.user != sortie.organisateur and sortie.etat.id == 2 %}
								{% if app.user not in sortie.participants %}
									<a href="{{ path('reservation_new', {'id' : sortie.id}) }}" class="reserver hvr-icon-buzz">
										<button type="button" class="btn btn-dark">Participer</button>
									</a>
								{% else %}
									<a href="{{ path('desinscription', {'id' : sortie.id}) }}" class="reserver hvr-icon-buzz">
										<button type="button" class="btn btn-danger">Se désinscrire</button>
									</a>
								{% endif %}
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<h3>{{ sortie.participants|length ~'/' ~ sortie.nbInscriptionsMax ~' participants'}}</h3>

	<div class="row">
		{% for participant in sortie.participants %}
			{% include "sortie/_participantTemplate.html.twig" %}
		{% endfor %}
	</div>

{% endblock %}
