{% extends 'base.html.twig' %}




{% block title %}Les sorties
{% endblock %}

{% block body %}


{% if form != null %}

{{ form_start(form, {attr: {class: 'filter js-filter-form'}}) }}

  <div class="spinner-border js-loading" role="status" aria-hidden="true" style="display: none">
    <span class="sr-only">Loading...</span>
  </div>

  {{ form_row(form.q) }}

  
  {{ form_row(form.sites) }}

  

 
  {{ form_row(form.participant) }}

  
  {{ form_row(form.organisateur) }}

<button type="submit" class="btn btn-primary w-100">Filtrer</button>

{{ form_end(form) }}

{% endif %}
	

	 <h1 class="text-center mt-5 mb-3">Sorties</h1>

		{# <div class="row">
			<span class="mb-3">
				<a  class="plus-recherche hvr-icon-wobble-horizontal">Recherche avancée <i class="fas fa-search-plus hvr-icon"></i></a>
			</span>
		</div> #}


		<div class="row">
			{% for sortie in sorties %}
				{% include "sortie/_sortieTemplate.html.twig" %}
			{% endfor %}
		</div>



{% endblock %}