{% extends 'base.html.twig' %}




{% block title %}Les sorties
{% endblock %}

{% block body %}


{% if form != null %}

{{ form_start(form, {attr: {class: 'filter js-filter-form'}}) }}

  <div class="spinner-border js-loading" role="status" aria-hidden="true" style="display: none">
    <span class="sr-only">Loading...</span>
  </div>


  <div class="row  mt-5 mb-3">
                <!--La classe bg-info ajoute un fond bleu à l'élément-->
                <div class="col"> 
				
				{{ form_row(form.q) }}
				</div>

                <!--La classe bg-warning ajoute un fond jaune à l'élément-->
                <div class="col">
				
				 {{ form_row(form.sites) }}
				</div>
                <!--La classe bg-success ajoute un fond vert à l'élément-->
                <div class="col">
				
				{{ form_row(form.participant) }}
				{{ form_row(form.organisateur) }}
				
				</div>

				<div class="col">
				
				<button type="submit" class="btn btn-primary w-100">Filtrer</button>
				
				</div>
</div>

 
  
 

  

 
  



{{ form_end(form) }}

{% endif %}
	

	 <h1 class="text-center mt-5 mb-3">Sorties</h1>

		{# <div class="row">
			<span class="mb-3">
				<a  class="plus-recherche hvr-icon-wobble-horizontal">Recherche avancée <i class="fas fa-search-plus hvr-icon"></i></a>
			</span>
		</div> #}

<script>
var sorties = new Array();
</script>
		<div class="row">
			{% for sortie in sorties %}
				{% include "sortie/_sortieTemplate.html.twig" %}
			{% endfor %}
		</div>

<script>

//var upgradeTime = 172801;
//var seconds = upgradeTime;
function timer() {

	sorties.forEach((item, index) => {
  console.log(item) //value
  console.log(index) //index
  //var countdownTimer = setInterval(timer(item), 1000);
  console.log("test");
var t1 = item[1];
console.log(t1);
var t2 = new Date();

console.log("DATEEEEE" +t2);
console.log(t1);
var dif = t1.getTime() - t2.getTime();

console.log("dif: " +dif/1000);
var Seconds_from_T1_to_T2 = dif / 1000;
var Seconds_Between_Dates = (Seconds_from_T1_to_T2);
var seconds = Seconds_Between_Dates;
  var days        = Math.floor(seconds/24/60/60);
  var hoursLeft   = Math.floor((seconds) - (days*86400));
  var hours       = Math.floor(hoursLeft/3600);
  var minutesLeft = Math.floor((hoursLeft) - (hours*3600));
  var minutes     = Math.floor(minutesLeft/60);
  var remainingSeconds = Math.round(seconds % 60);
  function pad(n) {
    return (n < 10 ? "0" + n : n);
  }

  countDown = "countDown"+item[0];
  if (seconds <= 0) {
    document.getElementById(countDown).innerHTML = "Temps écoulé pour s'inscrire";
    // clearInterval(countdownTimer);
  } else {
  document.getElementById(countDown).innerHTML = "Temps restant : "+ pad(days) + " jours " + pad(hours) + " heures " + pad(minutes) + " minutes " + pad(remainingSeconds) + " secondes";
    seconds--;
  }
})
}

  var counterd = setInterval('timer()', 1000 );

</script>

{% endblock %}

